.main_page {
  height: 100%;
  background-color: #0f172a;
  display: flex;
  justify-content: center;
}

.mid_box {
  height: 100vh;
  width: 100%;
  display: flex;
  width: fit-content;
}

.box_left {
  width: 528px;
}

.path {
  margin-left: 0.5rem;
}

.path_nav {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.nav-indicator {
  height: 1px;
  width: 2rem;
  background-color: #94a3b8;
  transition: all 0.2s ease;
}

.path_nav.active .nav-indicator {
  width: 4rem;
}



.path_nav.active .path {
  color: #e2e8f0;
  width: 4rem;
}

.path_nav:hover .nav-indicator {
  width: 4rem;
  background-color: #e2e8f0;
}

.path_nav:hover .path {
  color: #e2e8f0;
  
}

@media (prefers-reduced-motion: reduce) {
  .nav-indicator {
    transition: none;
  }
}

.box_right {
  width: 528px;
  overflow-y: auto;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.white_span {
  color: white;
}

@media (max-width: 1024px) {
  .box_left, .box_right {
    width: 100%;
    padding: 1rem;
  }

  .mid_box {
    flex-direction: column;
    height: auto;
  }
}
